<h1 fxLayoutAlign="center center" class="main-title">GitHub Commits Counter</h1>

<div fxLayoutAlign="center center" class="container" fxLayout="column">
  <div class="authentication" fxFlex fxLayout="column">
    <h2 fxLayoutAlign="center center">Authentication</h2>
    <div fxLayout="column" fxLayoutAlign="center center">
      <form
        [formGroup]="addTokenFormGroup"
        class="add-repo-form"
        (ngSubmit)="onAuth()"
      >
        <mat-card-content fxLayout="column">
          <mat-form-field class="repository-full-width">
            <mat-label>Token</mat-label>
            <input
              matInput
              placeholder="Token"
              type="text"
              formControlName="token"
              required
            />
            <mat-hint>Token</mat-hint>
            <mat-error>Token</mat-error>
          </mat-form-field>
        </mat-card-content>
        <button
          type="submit"
          [disabled]="!addTokenFormGroup.valid"
          mat-stroked-button
          color="primary"
          fxFlexFill
          class="btn"
        >
          Add Token
        </button>
      </form>
    </div>
  </div>

  <div class="saved-repositories" fxFlex fxLayout="column">
    <h2 fxLayoutAlign="center center">Repositories</h2>
    <div fxLayout="column" fxLayoutAlign="center center">
      <button
        mat-raised-button
        *ngFor="let repository of repositories"
        (click)="onDeleteRepo(repository)"
        matTooltip="Delete"
        matTooltipPosition="right"
        class="item"
      >
        <div class="owner-chips">{{ "Owner : " + repository.owner }}</div>
        <span class="repository-chips">{{
          "Repository : " + repository.repository
        }}</span>
      </button>
    </div>
  </div>

  <div class="add-repo">
    <form
      [formGroup]="addRepoFormGroup"
      class="add-repo-form"
      (ngSubmit)="addRepository()"
    >
      <mat-card-content fxLayout="column">
        <mat-form-field class="owner-full-width">
          <mat-label>Owner</mat-label>
          <input
            matInput
            placeholder="Ex. Linagora"
            type="text"
            formControlName="owner"
            required
          />
          <mat-hint>GitHub Account or Organization</mat-hint>
          <mat-error>Please put a correct owner name</mat-error>
        </mat-form-field>

        <mat-form-field class="repository-full-width">
          <mat-label>Repository</mat-label>
          <input
            matInput
            placeholder="Ex. Twake"
            type="text"
            formControlName="repository"
            required
          />
          <mat-hint>Repository name</mat-hint>
          <mat-error>Please put a correct repository name</mat-error>
        </mat-form-field>
      </mat-card-content>
      <button
        type="submit"
        [disabled]="!addRepoFormGroup.valid"
        mat-stroked-button
        color="primary"
        fxFlexFill
        class="btn"
      >
        Add
      </button>
    </form>
  </div>

  <div class="date">
    <h2 fxLayoutAlign="center center">Date</h2>
    <mat-form-field appearance="fill">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
        <input matStartDate formControlName="start" placeholder="Start date" />
        <input matEndDate formControlName="end" placeholder="End date" />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>

      <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')"
        >Invalid start date</mat-error
      >
      <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')"
        >Invalid end date</mat-error
      >
    </mat-form-field>
  </div>

  <button
    mat-raised-button
    color="primary"
    (click)="onSubmit()"
    [disabled]="
      repositories.length == 0 ||
      range.value['start'] == null ||
      range.value['end'] == null
    "
  >
    Send
  </button>
</div>

<div class="result">
  <mat-card *ngFor="let res of result" class="result-item">
    <h2>
      {{ res.owner + " - " + res.repository }}
    </h2>

    <h3>Committers :</h3>
    <div fxLayout="column">
      <span *ngFor="let mapEntry of res.committers | keyvalue">
        {{ mapEntry.key }} - {{ mapEntry.value }}
      </span>
    </div>

    <h3>Number of commits :</h3>
    <span>
      {{ res.totalCommits }}
    </span>
  </mat-card>
</div>
