.main-title {
  font-size: 6em;
}

.date {
  margin-top: 2vw;
}

.item {
  padding: 5px;
  margin: 5px;
}

.item:hover {
  background-color: #EEE;
}

.add-repo {
  margin-top: 10px;
}

.result {
  margin-left: 20px;
  margin-right: 20px;
}

.result-item {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  display: inline-block;
}

.btn, .repository-full-width{
  margin-top: 10px;
}